{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'styles/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <title>Home</title>
</head>
<body>
    <div class="Result">
            <h1><b>Spam Byter Home</b></h1>
            <h3>Successfully Signed in</h3>
    </div>
    <div class="Details">

            <div class="Rules">
                <h4>Welcome to Spam Byter</h4>
                <ol>
                    <li>Punishing Logic developed for protecting Registeration/Login from Spam/Fake Credentials. </li>
                    <li>It punishes Spammers by <strong style="color: rgb(5, 79, 26); font-size: large;">SMS Bombing</strong> immedietely.
                    </li>
                    <li>Any Critical Systems can use this Logic for enhancing security of Login system.</li>
                </ol>
            </div>
    </div>
</body>
</html>